[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
	email = stanislav.khalash@sap.com
	name = Stanislav Khalash
[core]
	editor = vim
[commit]
#	gpgsign = true
[pull]
	ff = only
