[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
  email = stanislav.khalash@sap.com
  name = Stanislav Khalash
[core]
  editor = vim
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[pull]
  rebase = false
[push]
  autoSetupRemote = true
